.homeConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 10rem;
    background: radial-gradient(rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}


.cardConteiner {
    text-align: center;
    background-color: none;
    background: radial-gradient(rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    background-color: #ffffff;

}

.cardTitle {
    color: #ffffff;
    font-size: 1rem;
    padding: 2rem;
    text-align: center;
}

.cardDescription {
    font-size: 1.3rem;
    background: radial-gradient(rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    color: #ffffff;
    word-wrap: break-word;
}