* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-family: 'Oswald', sans-serif;
}

.conteinerLogo{
    display: flex;
    position: relative;
}

.logoProjeto{
    display: flex;
    position: absolute;
    width: 15%;
    border-radius: 160px;
    top: 0%;
    right: 1%;
    background-color: rgb(19, 30, 37);
}

  .subtitleDirija {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:radial-gradient( rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    color: #ffffff;
  }

  .conteinerDirija{
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding:10rem;
    background-color: rgb(19, 30, 37);
  }

.cardDescription {
    font-size: 1rem;
    background: radial-gradient(rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    color: #ffffff;
    word-wrap: break-word;
}

