* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-family: 'Oswald', sans-serif;
  }
  
  .sobreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 10rem;
    font-size: 1.5rem;
    background: radial-gradient(rgb(60, 70, 90) 24.5%, rgb(19, 30, 37) 66%);
  }
  .mapBrasil {
    width: 50%;
    height: auto;
    background-size: cover;
    justify-content: center;
    align-items: center;
  }

.EstRn{
  display:flex;

}

.subtitleSobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
}