.menuContainer {
    background-color: #f2f0eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    list-style: none;
    background:radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}

.menuLink {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;   
}

.menuLogo {
    max-width: 15%;
    margin-left: 2%;
    align-items: center;
    }

.menuList {
    gap: 2rem;
    display: flex;
}